/*
 * Created on Sat Oct 14 2023
 * Author: Connor Doman
 */

.wp-block-guten-csek-staff-profiles-block {
    @apply flex flex-col justify-center items-center relative;
}

.wp-block-guten-csek-staff-profiles-block .profile-content {
    @apply w-full max-w-csek-max flex flex-row justify-center items-center relative;

    & .image {
        @apply w-1/2 h-auto object-cover flex flex-row justify-center;
    }
}

.wp-block-guten-csek-staff-profiles-block .staff-profile {
    @apply fixed top-0 left-0 w-full h-screen flex flex-row justify-center items-center bg-white z-30 cursor-default pointer-events-none opacity-0 transition-opacity duration-500 ease-in-out;

    /* Subclasses */
    &.opened {
        @apply pointer-events-auto opacity-100;
    }

    /* Child elements */

    & .bio {
        @apply w-1/2 h-full flex flex-col justify-center gap-8 mr-8 relative;

        & header {
            @apply font-syne font-bold uppercase;

            & h1 {
                @apply text-6xl leading-none;
            }

            & h2 {
                @apply text-base text-csek-red my-1;
            }

            & .name {
                @apply flex flex-row justify-between items-start;

                & .close-button {
                    @apply relative -top-8;
                }
            }
        }

        & main {
            @apply font-montserrat text-base w-4/5;
        }

        & footer {
            @apply mt-4 font-syne font-bold uppercase text-base text-zinc-600;

            & .social-links {
                @apply flex flex-row justify-start items-center gap-3 my-6;
            }
        }
    }

    & .social-link {
        @apply w-8 h-8 flex flex-row justify-center items-center border border-csek-dark rounded-full cursor-pointer transition-all duration-200 ease-in-out opacity-50;
    }

    & .social-link:hover {
        @apply bg-csek-dark text-csek-light opacity-100;
    }
}

.wp-block-guten-csek-staff-profiles-block .block-header {
    @apply flex flex-col md:flex-col justify-start items-start font-montserrat gap-8 md:gap-24 mb-8 pt-12 md:pt-16 w-11/12 max-w-csek-max mx-auto;

    & h2 {
        @apply font-syne text-4xl leading-[1.1] w-min font-bold;
    }

    & p {
        @apply w-full md:w-[45%] text-base;
    }
}

/* 3x3 organic grid*/

.wp-block-guten-csek-staff-profiles-block .profiles-area:not(.alternate) {
    @apply grid grid-cols-3 gap-4 w-full;

    /* Jim Csek */
    & .staff-summary:nth-child(1) {
        justify-self: flex-end;
    }

    /* Nikki Csek */
    & .staff-summary:nth-child(2) {
        justify-self: flex-start;
    }

    /* Rob Cupello */
    & .staff-summary:nth-child(3) {
        grid-row: span 2;
        justify-self: flex-start;
        align-self: center;
    }

    /* Alexa Anderson */
    & .staff-summary:nth-child(4) {
        width: 25rem;
        justify-self: flex-end;
    }

    /* Dylan Bartlett */
    & .staff-summary:nth-child(5) {
        top: -3rem;
        justify-self: flex-end;
    }

    /* Alice Vincent */
    & .staff-summary:nth-child(6) {
        top: -10rem;
        justify-self: flex-end;
    }

    /* Ryan Lahay, Jason Mann */
    & .staff-summary:nth-child(7),
    & .staff-summary:nth-child(8) {
        top: -3rem;
        justify-self: flex-start;
    }

    /* Just Jason Mann */
    & .staff-summary:nth-child(8) {
        left: -4rem;
        justify-self: flex-start;
    }
}

/* 2x4 grid alternate layout */

.wp-block-guten-csek-staff-profiles-block .profiles-area.alternate {
    @apply flex flex-col md:grid grid-cols-4 grid-flow-row gap-6 md:gap-4 w-full relative pb-20;

    /* even numbered items that arent the 4th column */
    & .staff-summary:nth-child(4n - 2):not(:nth-child(4n)) {
        @apply md:top-20;
    }

    /* column 3 but not multiples of 6 */
    & .staff-summary:nth-child(4n - 1) {
        @apply md:top-4;
    }

    /* column 4 */
    & .staff-summary:nth-child(4n) {
        @apply md:top-12;
    }

    & .staff-summary > .image {
        @apply w-full overflow-hidden aspect-square;

        & img {
            @apply w-full h-full object-cover object-top;
        }
    }
}

.wp-block-guten-csek-staff-profiles-block .staff-summary {
    @apply flex flex-col justify-start items-start w-11/12 mx-auto md:max-w-[20rem] h-fit relative cursor-pointer;

    &:hover > .image {
        @apply md:shadow-xl md:transform md:scale-105;
    }

    & .image {
        @apply transition-all duration-200 ease-in-out;
    }

    & .info {
        @apply flex flex-row justify-between w-full items-start font-syne font-bold text-csek-red text-sm leading-none my-1;

        & h1 {
            @apply text-base md:text-sm leading-none uppercase m-0 text-csek-dark whitespace-nowrap;
        }

        & h2 {
            @apply text-right;
        }

        & .separator {
            @apply hidden font-sans text-3xl mx-[0.125rem] text-csek-red leading-[0.5] align-text-top;
        }
    }
}
