/*
 * Created on Sat Nov 04 2023
 * Author: Connor Doman
 */

.cycling-stack {
    --cycling-stack-font-size: 1.5rem;
    --cycling-stack-delay: 200ms;
    font-family: "Syne", sans-serif;
    font-size: var(--cycling-stack-font-size);
    line-height: 1.1;

    & .words-list {
        position: relative;
        height: calc(2 * var(--cycling-stack-font-size));
        overflow: hidden;

        & .cycling-word {
            position: absolute;
            bottom: 0;
            opacity: 0;
            transition:
                opacity var(--cycling-stack-delay),
                transform var(--cycling-stack-delay);
        }
    }

    & .keyword {
        font-weight: bold;
    }
}
