/*
 * Created on Sat Dec 09 2023
 * Author: Connor Doman
 */

.wp-block-guten-csek-projects-masonry-block {
    --brick-height: 16rem;
    @apply relative w-full h-fit;

    & .projects-grid {
        @apply flex flex-col md:grid grid-cols-3 grid-rows-[10] w-11/12 max-w-csek-2/3 gap-4 mx-auto;
        grid-template-rows: repeat(10, var(--brick-height));
    }

    & .project-brick {
        @apply bg-csek-red;
        height: 100%;
        width: 100%;
    }
}
