* {
    box-sizing: border-box;
}

input[type="text"].csek-input,
textarea.csek-input,
select.csek-input {
    width: 100%;
}

hr {
    border: 1px solid #8c8f94;
    margin: 1rem 0;
    width: 100%;
}

section {
    margin: 5rem 0;
}

h4 {
    margin: 0;
}

.is-root-container > div + div {
    margin-top: 3rem;
}

.csek-input {
    border: 1px solid #8c8f94;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.csek-input:focus {
    outline: var(--csek-red);
}

.video-carousel-data {
    border: 1px solid #8c8f94;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.em-label {
    font-size: 0.75rem;
    color: #8c8f94;
    margin: 0.25rem 0;
}

.video-carousel-data h4 {
    line-height: 1;
    margin: 0.25rem 0;
    padding: 0;
    font-size: 1rem;
}

.csek-button {
    background-color: #2270b1;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.preview-image {
    max-width: 20rem;
    height: auto;
}

.csek-card {
    border: 1px solid #8c8f94;
    border-radius: 0.25rem;
    padding: 1rem;
    width: 100%;
}

.csek-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
}
