/*
 * Created on Fri Aug 11 2023
 * Author: Connor Doman
 */

/*
    Syne
*/

@font-face {
    font-family: "Syne";
    src: url("../../fonts/Syne/static/Syne-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Syne";
    src: url("../../fonts/Syne/static/Syne-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Syne";
    src: url("../../fonts/Syne/static/Syne-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Syne";
    src: url("../../fonts/Syne/static/Syne-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Syne";
    src: url("../../fonts/Syne/static/Syne-Medium.ttf") format("truetype");
    font-weight: 400;
}

/*
    Montserrat
*/

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
}

/*
    Montserrat Italic
*/

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/static/Montserrat-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
