/*
 * Created on Wed Sep 27 2023
 * Author: Connor Doman
 */

.wp-block-guten-csek-next-project-block {
    z-index: 50;
}

.next-project-wrapper {
    max-width: 75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;

    & .next-project-image {
        max-width: 50rem;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

        & img {
            width: 75%;
            height: auto;
        }
    }

    & .next-project-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        font-family: "Syne", sans-serif;

        & a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;
            color: var(--csek-dark);

            & h1 {
                font-size: 3rem;
                font-weight: 700;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid transparent;
                transition: all 0.2s ease-in-out;
                line-height: 0.75;
            }

            & i {
                opacity: 0%;
                margin-left: 1rem;
                font-size: 2rem;
                color: var(--csek-dark);
                transition: all 0.2s ease-in-out;
            }

            &:hover {
                & h1 {
                    border-bottom: 1px solid var(--csek-dark);
                }

                & i {
                    opacity: 100%;
                }
            }
        }

        & h2 {
            color: var(--csek-red);
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
