/*
 * Created on Tue Aug 22 2023
 * Author: Connor Doman
 */

/* Scrolling Projects Block */

.wp-block-guten-csek-scrolling-projects-block {
    width: 100%;
    font-family: Syne, sans-serif;
    padding: 4rem 0;
    position: relative;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
}
.wp-block-guten-csek-scrolling-projects-block .projects {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects hr {
    width: calc(100% - 8rem);
}

.project-ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    height: 10rem;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
}

.project-ribbon ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.project-ribbon ul li {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    width: max-content;
    font-size: 5rem;
    z-index: 10;
    position: relative;
}

.project-ribbon li {
    color: var(--csek-light);
    position: relative;
    z-index: 10;
}

.project-ribbon li {
    /* transition: color ease 0.2s; */
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.project-ribbon li:has(a):hover {
    /* animation-name: ribbon-hover; */
}

.project-ribbon li:has(a):not(:hover) {
    /* animation-name: ribbon-hover-reverse;
    animation-fill-mode: forwards; */
}

.project-ribbon.reverse li {
    position: relative;
    z-index: 10;
}

.reverse ul {
    flex-direction: row-reverse;
    right: 0;
}

.project-blurb {
    --project-blurb-color: var(--csek-blue);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--project-blurb-color);
    transition: all ease 0.2s;
    z-index: 20;
    width: 60vh;
    height: 60vh;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.project-blurb img {
    position: absolute;
    top: 0;
    left: 25%;
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2));
}

.project-blurb .view-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--csek-light);
    z-index: 40;
    font-size: 0.75rem;
    width: 8em;
    height: 8em;
    border-radius: 100%;
    background-color: var(--csek-dark);
    bottom: 20%;
    right: 20%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.highlight-link {
    color: var(--csek-dark);
}
