:root {
    --csek-red: #f40201;
    --csek-blue: #b4d8df;
    --csek-dark: #131313;
    --csek-light: #e9ebea;
    --csek-white: #ffffff;
    --max-width: 75rem;
    --half-pad: calc(calc(100% - var(--max-width)) / 2);
    --csek-max: 75rem;
}

* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: clip;
    /* scroll-behavior: smooth; */
    font-family: "Montserrat", sans-serif;
}

html {
    height: 100vh;
}

/* Floating images at top of home page */

@keyframes hover {
    from {
        transform: translateY(0.25rem);
    }
    to {
        transform: translateY(-0.25rem);
    }
}

/* Project Ribbon Hover Effect */

@keyframes ribbon-hover {
    0% {
        z-index: 10;
        color: var(--csek-light);
    }
    50% {
        color: var(--csek-dark);
    }
    100% {
        color: var(--csek-dark);
        z-index: 40;
    }
}

@keyframes ribbon-hover-reverse {
    0% {
        color: var(--csek-dark);
        z-index: 40;
    }
    50% {
        color: var(--csek-light);
    }
    100% {
        color: var(--csek-light);
        z-index: 10;
    }
}

/* Generic Classes */

.featured-image-color {
    @apply transition-colors duration-500 ease-in-out;
}

.hide {
    opacity: 0;
    transition:
        opacity ease 0.2s,
        width ease 2s;
    width: 0;
    height: 0;
}

.block-title {
    @apply text-xl md:text-2xl font-bold mb-4 text-csek-red uppercase;
}

.max-width {
    max-width: var(--max-width);
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.block-content {
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
}

.darken-body {
    background-color: var(--csek-dark);
}

.fade-to-black {
    --ftb-shadow-opacity: var(--local-ftb-shadow-opacity, 1);
    --ftb-shadow: var(--local-ftb-shadow, var(--csek-dark));
    @apply absolute left-1/2 -translate-x-1/2 bg-csek-dark flex flex-grow flex-col box-border -top-2 h-bleed w-bleed items-center mx-auto transition-all duration-2000 ease-in-out;

    & .inner {
        @apply relative w-full max-w-[1920px] h-full flex flex-col justify-center items-start py-8 bg-cover;
        background-position: 50% 25%;

        &::after {
            @apply max-w-csek-best-fit;
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, var(--ftb-shadow) 90%),
                linear-gradient(
                    90deg,
                    var(--ftb-shadow) 0%,
                    rgba(255, 255, 255, 0) 2%,
                    rgba(255, 255, 255, 0) 98%,
                    var(--ftb-shadow) 100%
                );
            transform: translateX(-50%);
            opacity: var(--ftb-shadow-opacity);
            transition: opacity 500ms ease-in-out;
        }

        & .content {
            @apply w-11/12 h-full max-w-csek-max mx-auto flex flex-col justify-end items-start z-10 gap-4;
        }
    }
}

/* Specific Elements */

/* Wordpress Classes */

.wp-block-embed {
    @apply w-full mx-auto !important;

    &__wrapper {
        @apply mx-auto;

        & iframe {
            @apply w-11/12 max-w-csek-2/3 h-full mx-auto aspect-video;
        }
    }
}
