/*
 * Created on Thu Aug 17 2023
 * Author: Connor Doman
 */

.curtain-reel {
    @apply sticky flex flex-col justify-start top-0 h-max w-full z-[15];
    perspective: 2rem;
}

.content-block {
    @apply flex flex-col justify-start items-center h-screen w-screen absolute bg-transparent text-white;
}

.left-curtain {
    @apply absolute top-0 left-0 h-screen w-1/2 bg-white z-[1] overflow-hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.right-curtain {
    @apply absolute top-0 right-0 h-screen w-1/2 bg-white z-[1] overflow-hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.right-curtain > .curtain {
    @apply absolute -left-full;
}

.left-curtain > .curtain {
    @apply absolute left-0;
}

.shadow-block {
    @apply absolute top-0 left-1/2 transform -translate-x-1/2 h-screen w-1/2 pointer-events-none;
    background: radial-gradient(transparent, rgba(0, 0, 0, 0.5));
}
