/*
 * Created on Tue Aug 22 2023
 * Author: Connor Doman
 */

/* Horizontal Carousel Block */

.wp-block-guten-csek-horizontal-carousel-block {
    /* width: 100%; */
    /* height: 100vh; */
    background: var(--csek-dark);
    color: white;
    font-family: "Syne", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.wp-block-guten-csek-horizontal-carousel-block h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--csek-red);
}

.wp-block-guten-csek-horizontal-carousel-block p {
    font-family: Montserrat, sans-serif;
}

.carousel-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
}

.carousel-wrapper .carousel-slider {
    overflow: hidden;
    width: 100%;
}

ul.carousel {
    white-space: nowrap;
    height: auto;
    width: 100vw;
    /* overflow-x: auto; */
    transition: transform ease 0.75s;
}

li.carousel-item {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    position: relative;
    white-space: initial;
    vertical-align: bottom;
}

li.carousel-item h1 {
    font-size: 40rem;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1;
    vertical-align: middle;
}

li.carousel-item .carousel-item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 50vw;
    max-width: 50rem;
    padding: 0 2rem;
    height: 100%;
    white-space: normal;
}

.carousel-slider-progress {
    width: 100%;
    max-width: var(--max-width);
    height: 3rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.25rem;
    position: absolute;
    bottom: 0;
    padding: 0 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-slider-progress .bar {
    display: inline-block;
    width: 100%;
    height: 0.25rem;
    background-color: gray;
    position: relative;
    line-height: 0;
    box-sizing: border-box;
    max-width: var(--max-width);
}

.carousel-slider-progress .bar .progress {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 0.25rem;
    background-color: var(--csek-red);
    line-height: 0;
    transition: all ease 0.75s;
}

.carousel-slider-progress .status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}
.carousel-slider-progress .status i {
    font-size: 0.75rem;
}

.dummy-block {
    display: block;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -20;
}
