/*
 * Created on Tue Aug 22 2023
 * Author: Connor Doman
 */

/* Scrolling Projects Block */

.wp-block-guten-csek-scrolling-projects-block {
    @apply w-full h-[36rem] md:h-[80vh] md:flex md:flex-col md:justify-center font-syne md:py-8 relative bg-white overflow-hidden box-border;

    & .view-button {
        @apply absolute left-3/4 bottom-0 md:-left-full md:-top-full flex justify-center items-center text-csek-light z-40 text-xs w-24 h-24 rounded-full bg-csek-dark/50 font-montserrat font-semibold text-center uppercase -translate-x-1/2 -translate-y-1/2 backdrop-blur-md;
    }

    & .selected-project-name {
        @apply md:hidden absolute left-1/2 top-16 z-40 w-11/12 -translate-x-1/2 text-csek-dark font-syne text-3xl font-bold text-center uppercase transition-opacity duration-1000;
    }

    & .canvas-container {
        @apply absolute md:relative bottom-0 md:top-0 left-0 w-full h-3/4;
    }
}
.wp-block-guten-csek-scrolling-projects-block .projects {
    @apply overflow-hidden flex flex-col justify-center items-center;
}

.projects hr {
    @apply w-11/12;
}

.project-ribbon {
    @apply flex justify-center items-center mx-auto w-full bg-white h-40 overflow-hidden relative transition-all ease-in-out duration-200;
}

.project-ribbon ul {
    @apply list-none flex items-center m-0 p-0 absolute w-full;
}

.project-ribbon ul li {
    @apply grow-0 shrink-0 text-center w-max text-7xl z-10 relative;
}

.project-ribbon li {
    @apply text-csek-light relative z-10;
}

.project-ribbon li {
    @apply duration-200 ease-in-out;
    animation-fill-mode: forwards;
}

.project-ribbon.reverse li {
    @apply relative z-10;
}

.reverse ul {
    @apply flex-row-reverse right-0;
}

.project-blurb {
    --project-blurb-color: var(--csek-blue);
    --project-blurb-aspect: calc(265 / 321);
    --project-blurb-height: 20rem;
    @apply absolute w-[70vh] h-[70vh] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-30;
}

.project-blurb:before {
    @apply absolute h-[19rem] md:h-[28rem] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all ease-in-out duration-1000 shadow-lg aspect-blurb;
    content: "";
    background-color: var(--project-blurb-color);
}

.project-blurb img {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-auto transition-opacity duration-1000 ease-in-out drop-shadow-lg object-cover;
}

.highlight-link {
    @apply text-csek-dark;
}
