/*
 * Created on Tue Aug 22 2023
 * Author: Connor Doman
 */

/* Tagline Header Block */

.wp-block-guten-csek-tagline-header-block {
    width: 100%;
    margin: 0 auto;
}

.wp-block-guten-csek-tagline-header-block .block-content {
    transition: all ease 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--csek-dark);
    text-align: center;
    position: relative;
}

.wp-block-guten-csek-tagline-header-block .heading-text {
    z-index: 25;
    font-weight: bold;
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    max-width: var(--max-width);
}

.wp-block-guten-csek-tagline-header-block .heading-text h3 {
    font-size: 1.25rem;
}

.wp-block-guten-csek-tagline-header-block .heading-text h1 {
    font-size: 6rem;
    line-height: 1;
}
.wp-block-guten-csek-tagline-header-block .heading-text h2 {
    font-size: 1.5rem;
    line-height: 1;
    max-width: calc(var(--max-width) / 2);
    margin: 0 auto;
    font-family: "Syne", sans-serif;
}

.wp-block-guten-csek-tagline-header-block .serif {
    width: 12rem;
    position: absolute;
    bottom: -4rem;
    z-index: 20;
}
