/*
 * Created on Tue Aug 22 2023
 * Author: Connor Doman
 */

/* Team Block */

.wp-block-guten-csek-team-block {
    @apply w-full font-syne md:py-16 relative bg-white overflow-hidden box-border border-t border-b border-green-500 border-solid;

    & .block-content {
        @apply flex flex-col justify-center relative mx-auto my-32 md:my-8 w-11/12 max-w-csek-max box-border h-max;

        & .tagline {
            @apply text-7xl leading-none mb-8 mt-0 md:my-8;
        }

        & .copy-text {
            @apply font-montserrat w-11/12 md:w-96 self-end md:mx-24;

            & .learn-more {
                @apply font-bold mb-4 mt-8 uppercase;

                & a {
                    @apply flex items-center gap-4;
                }

                & .bar {
                    @apply inline-block w-8 h-px border-csek-red border-solid border;
                }
            }
        }
    }
}

.headshot {
    --delay: 0ms;
    @apply min-w-[4rem] min-h-[4rem] max-w-[10rem] max-h-[10rem] overflow-hidden rounded-full drop-shadow-lg absolute aspect-square;
    transition: transform 0.5s ease;
    transition-delay: var(--delay);
}

.headshots {
    @apply absolute top-0 left-0 w-full h-full pointer-events-none;

    /* Nikki Csek */
    & .headshot:nth-child(1) {
        @apply top-4 right-1/2 md:right-[25%] w-28 md:w-40 h-28 md:h-40 translate-x-1/2 md:translate-x-0;
    }

    /* Alexa Anderson */
    & .headshot:nth-child(2) {
        @apply top-[40%] right-[5%] w-24 h-24;
    }

    /* Cassie Clark */
    & .headshot:nth-child(3) {
        @apply bottom-4 right-[15%] w-32 h-32;
    }

    /* Andrew Nash */
    & .headshot:nth-child(4) {
        @apply top-10 md:top-[7.5%] left-6 md:left-[20%] w-16 md:w-24 h-16 md:h-24;
    }

    /* Jim Csek */
    & .headshot:nth-child(5) {
        @apply top-1/2 left-[5%] w-40 h-40;
    }

    /* Scott Matthews */
    & .headshot:nth-child(6) {
        @apply bottom-[5%] left-[25%] w-16 h-16;
    }
}

.headshot > img {
    @apply w-full h-full object-cover object-top;
}
