:root {
    --csek-red: #f40201;
    --csek-blue: #b4d8df;
    --csek-dark: #131313;
    --csek-light: #e9ebea;
    --max-width: 75rem;
    --half-pad: calc(calc(100% - var(--max-width)) / 2);
}

* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: clip;
}

/* Floating images at top of home page */

@keyframes hover {
    from {
        transform: translateY(0.25rem);
    }
    to {
        transform: translateY(-0.25rem);
    }
}

/* Project Ribbon Hover Effect */

@keyframes ribbon-hover {
    0% {
        z-index: 10;
        color: var(--csek-light);
    }
    50% {
        color: var(--csek-dark);
    }
    100% {
        color: var(--csek-dark);
        z-index: 40;
    }
}

@keyframes ribbon-hover-reverse {
    0% {
        color: var(--csek-dark);
        z-index: 40;
    }
    50% {
        color: var(--csek-light);
    }
    100% {
        color: var(--csek-light);
        z-index: 10;
    }
}

/* Generic Classes */

.hide {
    opacity: 0;
    transition:
        opacity ease 0.2s,
        width ease 2s;
    width: 0;
}

.block-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--csek-red);
    text-transform: uppercase;
}

.max-width {
    max-width: var(--max-width);
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.block-content {
    max-width: var(--max-width);
    margin: 0 auto;
}

/* Specific Elements */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    width: 100vw;
    height: 100vh;
    /* transition: opacity 0s; */
    transition: opacity 1s ease;
}

#loading.complete {
    opacity: 0;
    pointer-events: none;
}
