:root {
    --csek-red: #f40201;
    --csek-blue: #b4d8df;
    --csek-dark: #131313;
    --csek-light: #e9ebea;
    --max-width: 75rem;
    --half-pad: calc(calc(100% - var(--max-width)) / 2);
}

* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: clip;
}

/* Floating images at top of home page */

@keyframes hover {
    from {
        transform: translateY(0.25rem);
    }
    to {
        transform: translateY(-0.25rem);
    }
}

/* Project Ribbon Hover Effect */

@keyframes ribbon-hover {
    0% {
        z-index: 10;
        color: var(--csek-light);
    }
    50% {
        color: var(--csek-dark);
    }
    100% {
        color: var(--csek-dark);
        z-index: 40;
    }
}

@keyframes ribbon-hover-reverse {
    0% {
        color: var(--csek-dark);
        z-index: 40;
    }
    50% {
        color: var(--csek-light);
    }
    100% {
        color: var(--csek-light);
        z-index: 10;
    }
}

/* Video Test Block */

.wp-block-guten-csek-video-block {
    border: 1px solid tomato;
}

/* Tagline Header Block */
.wp-block-guten-csek-tagline-header-block {
    transition: all ease 0.2s;
}

/* h-[100vh] sticky top-0 mx-auto flex flex-col w-1/3 justify-start items-center */

/* Expanding Video Block*/

.wp-block-guten-csek-expanding-video-block {
    transition: all ease 0.2s;
    height: 100vh;
    position: relative;
    top: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    gap: 2rem;
}

.wp-block-guten-csek-expanding-video-block .threshold {
    height: 1px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 110vh;
    z-index: 100;
}

.expanding-video-container {
    width: 60%;
    height: 75vh;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: all ease 1.2s;
    /* position: absolute;
    top: 0; */
}

.expanded {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    transition: all ease 1.2s;
}

.floating-image {
    position: relative;
    width: 20rem;
    border-radius: 0.5rem;
    animation: hover 2s ease-in-out infinite alternate;
}

.image-container-left {
    position: relative;
    width: 30%;
    display: grid;
    flex-direction: row;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
    flex: 0 1 auto;
}

.image-container-right {
    position: relative;
    width: 30%;
    display: grid;
    flex-direction: row;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
    flex: 0 1 auto;
}

/* Block Quote */

.wp-block-guten-csek-block-quote-block {
    width: 100%;
    font-family: Syne, sans-serif;
    padding: 4rem 0;
    position: relative;
    background: white;
}
.wp-block-guten-csek-block-quote-block .quotation-mark {
}
.wp-block-guten-csek-block-quote-block blockquote {
    margin: 0 auto;
    text-align: left;
    font-size: 2.5rem;
    line-height: 1.2;
    z-index: 10;
}
.wp-block-guten-csek-block-quote-block .quote-area {
    position: relative;
    margin: 2rem auto;
    max-width: 75rem;
    box-sizing: border-box;
    padding: 0 2rem;
}
.wp-block-guten-csek-block-quote-block .quote::before {
    content: "“";
    color: var(--csek-red);
    font-size: 6rem;
    position: absolute;
    left: 3rem;
    top: 4rem;
}
.wp-block-guten-csek-block-quote-block .quote {
    margin-left: 6rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.wp-block-guten-csek-block-quote-block .quote .byline {
    margin-top: 2rem;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
}
.wp-block-guten-csek-block-quote-block .quote .byline .author {
    color: var(--csek-red);
}
.wp-block-guten-csek-block-quote-block .quote .byline .author-role {
}
.wp-block-guten-csek-block-quote-block .serif {
    filter: saturate(0) brightness(2.5);
    position: absolute;
    right: 4rem;
    top: 2rem;
}

/* Scrolling Projects Block */

.wp-block-guten-csek-scrolling-projects-block {
    width: 100%;
    font-family: Syne, sans-serif;
    padding: 4rem 0;
    position: relative;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
}
.wp-block-guten-csek-scrolling-projects-block .projects {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects hr {
    width: calc(100% - 8rem);
}

.project-ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    height: 10rem;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
}

.project-ribbon ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.project-ribbon ul li {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    width: max-content;
    font-size: 5rem;
    z-index: 10;
    position: relative;
}

.project-ribbon li {
    color: var(--csek-light);
    position: relative;
    z-index: 10;
}

.project-ribbon li {
    /* transition: color ease 0.2s; */
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.project-ribbon li:has(a):hover {
    animation-name: ribbon-hover;
}

.project-ribbon li:has(a):not(:hover) {
    animation-name: ribbon-hover-reverse;
    animation-fill-mode: forwards;
}

.project-ribbon.reverse li {
    position: relative;
    z-index: 10;
}

.reverse ul {
    flex-direction: row-reverse;
    right: 0;
}

.project-blurb {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--csek-blue);
    transition: all ease 0.2s;
    z-index: 20;
    width: 40vh;
    height: 40vh;
    transform: translateX(-50%) translateY(-50%);
}

.project-blurb img {
    position: absolute;
    top: 0;
    right: 25%;
    width: 150%;
    height: auto;
}

.project-blurb .view-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--csek-light);
    z-index: 40;
    font-size: 0.75rem;
    width: 8em;
    height: 8em;
    border-radius: 100%;
    background-color: var(--csek-dark);
    bottom: 20%;
    right: 20%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

/* Team Block */

.wp-block-guten-csek-team-block {
    width: 100%;
    font-family: Syne, sans-serif;
    padding: 4rem 0;
    position: relative;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
}
.block-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2rem auto;
    max-width: 75rem;
    box-sizing: border-box;
    padding: 0 2rem;
}
.block-content .tagline {
    font-size: 5rem;
    line-height: 1;
}
.block-content .copy-text {
    font-family: Montserrat, sans-serif;
    width: 30rem;
    align-self: flex-end;
    margin: 0 4rem;
}
.block-content .copy-text .learn-more {
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin-top: 2rem;
}
.block-content .copy-text .learn-more a {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.block-content .copy-text .learn-more .bar {
    display: inline-block;
    width: 2rem;
    height: 1px;
    border: 1px solid var(--csek-red);
}

/* Video Carousel Block */

.wp-block-guten-csek-video-carousel-block {
    width: 100%;
    font-family: Syne, sans-serif;
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background: white;
}

.video-strip {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    transition: transform ease 0.75s;
}

.video-strip > * {
    flex-basis: 100vw;
    min-width: 100vw;
}

.video-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    width: calc(var(--max-width) + (100vw - (var(--max-width) / 2)));
    position: relative;
    height: 40rem;
    background: var(--csek-dark);
}

.video-block video {
    filter: brightness(0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.video-block .video-caption {
    position: relative;
    color: white;
    /* bottom: 50%; */
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 4rem 2rem;
    z-index: 2;
    font-family: Montserrat, sans-serif;
}

.video-caption h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin: 1rem 0;
    font-weight: bold;
    font-family: Syne, sans-serif;
    max-width: calc(var(--max-width) / 2);
}

.video-caption .video-playbutton {
    display: inline-flex;
    height: 4rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: rgba(19, 19, 19, 0.5);
    padding-right: 1rem;
    padding-left: 0.5rem;
    border-radius: 2rem;
    margin: 2rem 0;
}

.video-playbutton i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background-color: var(--csek-red);
    margin: 0;
    font-size: 1.5rem;
}

.video-caption .caption {
    font-size: 1.1rem;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

.wp-block-guten-csek-video-carousel-block .carousel-slider-progress {
    justify-content: center;
    position: absolute;
    height: 4rem;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: 10; */
    background: rgba(19, 19, 19, 0.5);
    color: white;
}

.video-player {
    background-color: var(--csek-light);
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    opacity: 0;
    /* transition: opacity 0.3s ease-in-out; */
}

.video-player[open] {
    opacity: 1;
}

.video-player .close-dialog {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--csek-dark);
    z-index: 20;
    cursor: pointer;
}

/* Horizontal Carousel Block */

.wp-block-guten-csek-horizontal-carousel-block {
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--csek-dark);
    color: white;
    font-family: Syne, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.carousel-item h1 {
    font-size: 40rem;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.wp-block-guten-csek-horizontal-carousel-block h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--csek-red);
}
.wp-block-guten-csek-horizontal-carousel-block p {
    font-family: Montserrat, sans-serif;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    transition: transform ease 0.75s;
}

.carousel-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    flex-basis: 100vw;
    pointer-events: none;
}

.carousel-item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50rem;
    padding: 0 2rem;
}

.carousel-slider-progress {
    width: 100%;
    max-width: var(--max-width);
    height: 3rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.25rem;
    position: absolute;
    bottom: 0;
    padding: 0 1rem;
}

.carousel-slider-progress .bar {
    display: inline-block;
    width: 100%;
    height: 0.25rem;
    background-color: gray;
    position: relative;
    line-height: 0;
    box-sizing: border-box;
    max-width: var(--max-width);
}

.carousel-slider-progress .bar .progress {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 0.25rem;
    background-color: var(--csek-red);
    line-height: 0;
    transition: all ease 0.75s;
}

.carousel-slider-progress .status {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.carousel-slider-progress .status i {
    font-size: 0.75rem;
}
/* Generic Classes */

.hide {
    opacity: 0;
    transition: opacity ease 0.2s, width ease 2s;
    width: 0;
}

.block-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--csek-red);
    text-transform: uppercase;
}
